body{
    background-color: rgb(241, 241, 241);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
display: none;
}

.wrapper {
    padding-left: 70px;
    margin-left: 540px;
    max-width: 1200px;

}

button{
    margin-top: 10px;
    margin-left:348px;
    margin-bottom:15px;
}

img {
    max-width: 100%;
    height: 288px;
    flex-shrink: initial;
    margin-left:700px;
}

.container{
    margin-left: -100px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    padding-bottom: 80px;
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    margin-left: -40px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.card::-webkit-scrollbar {
    display: none;
}

.card:hover{
    transform: translate3D(0, -2px, 0);
    -webkit-box-shadow: 1px 8px 14px -1px rgba(0,0,0,0.25); 
        box-shadow: 1px 8px 14px -1px rgba(0,0,0,0.25);
    z-index: 99;
}

.card-header,h1 {
    background: rgb(241, 241, 241);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(199,180,215,1) 58%, rgba(148,187,233,1) 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:white;
}



.card-body{
    font-family: 'Roboto', sans-serif;
}